.date-picker-container {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 100;
}
.date-picker-container {
  height: 50%;
  width: 50%;
  position: relative;
  z-index: 100;
}

.date-grid-container {
  display: grid;
  grid-template-columns: repeat(7, 0fr);
  z-index: 100;
}

.days {
  height: 50px;
  width: 50px;
  background: white;
  border: 1px solid black;
  z-index: 100;
}
