.date-picker-container {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.date-container-info {
  position: relative;
  height: 39%;
  width: auto;
  padding-top: 1%;
  background: white;
  text-align: center;
}
.fa-arrow-left,
.fa-arrow-right {
  font-size: 1.5em;
  position: absolute;
}
.fa-arrow-left {
  left: 3%;
}
.fa-arrow-right {
  right: 3%;
}

.current-month,
.current-year {
  position: relative;
  font-size: 1.5em;
}
.current-month {
  left: -10%;
}

.date-grid-container {
  display: grid;
  grid-template-columns: repeat(7, 0fr);
  z-index: 100;
}

.dates {
  position: relative;
  height: 50px;
  width: 50px;
  background: white;
  z-index: 100;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.days {
  border: none;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}

.selected-date {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  width: 100%;
  bottom: -10%;
  font-size: 1.5em;
  background: white;
}

.disable-click {
  pointer-events: none;
  cursor: not-allowed;
}
.date-button {
  position: absolute;
  height: 10%;
  width: 20%;
  bottom: 3.5%;
  right: 2%;
  background: gray;
  cursor: pointer;
  z-index: 200;
}

.date-button:hover {
  background: green;
  color: white;
}
.active-date {
  position: relative;
  background-color: red;
  bottom: 1%;
  border-radius: 50%;
  color: white; /* För att texten ska synas bättre */
}
