.explore-container {
  position: absolute;
  height: 100vh;
  width: 100%;
  bottom: 0%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.explore-mask {
  position: absolute;
  width: 100%;
  height: 30%;
  mask-image: url(../../images/svg/travel-splash-2.svg);
  mask-size: cover;
  mask-repeat: no-repeat;
  mask-position: center;
  top: 50%;
  transform: translateY(-50%);
}

.explore-background {
  position: absolute;
  background: url("../../images/jpg/2.jpg") center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  top: -10%;
}
.explore-grid-container {
  position: relative;
  height: 70%;
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 5;
}
.grid-destination-container {
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 10px;
}

.destination-container {
  height: 230px;
  width: 160px;
  z-index: 10;
  cursor: pointer;
}
.destination {
  position: relative;
  height: 100%;
  width: 100%;
}
.img-explore {
  position: absolute;
  height: 60%;
  width: 100%;
}

.explore-info-container {
  position: absolute;
  background: linear-gradient(
    135deg,
    rgba(160, 158, 158, 0.3),
    rgba(123, 123, 121, 0.5)
  );
  backdrop-filter: blur(10px);

  width: 100%;
  bottom: 30px;
}
.explore-info {
  padding: 0;
  margin: 0;
}
.button-show-information-explore {
  position: absolute;
  width: 100%;
  height: 30px;
  z-index: 200;
  bottom: 0;
}
.destination-container:hover {
  box-shadow: 8px 8px 5px grey;
}
